@import './_global';

*{
    @include global
}
body{
    background: #1d3344;
}

hr{
    color: #1d3344;
    width: 100%;
}
@keyframes spin {
    0% {transform: rotate(0deg)};
    100% {transform: rotate(360deg);}
}

.home{
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & form{
        margin-bottom: 2rem;

        & input{
            width: 500px;
            max-width: 100%;
            height: 40px;
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: 0.1rem solid #1d3344;
        }
    }
    & h1{
        color: #fff;
    }
    @media (max-width:900px) {

        & form{

            & input{
                width: 100%;
            }
        }
    }
    @media (max-width:600px) {
        padding: 2rem;
    }

    & .card{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        padding-bottom: 3rem;
        color: #fff;

        & .spinner{
            margin-left: 20rem;
            width: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
            animation: spin 3s linear infinite;

            & img{
                width: 200px;
                height: 200px;
            }
        }

        & .card-data{
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            background-color: #1d3344;
            text-align: center;
            color: #fff;
            border: 1.5px dotted #fff;
            border-radius: 1.2rem;
            margin-bottom: 2rem;

            &:hover{
                overflow: hidden;
                transform: translate(1.1);
                box-shadow: rgb(226, 221, 219)5px 0.5px 10px;
                transition: all 1s;
            }

            & img{
                width: 100%;
                border-top-right-radius: 1.2rem;
                border-top-left-radius: 1.2rem;
                height: 100%;

                &:hover{
                    overflow: hidden;
                    cursor: pointer;
                    transform: scale(1.5);
                }
            }

            & p{
                font-size: 1rem;
                padding: 0.5rem;
            }
        }
        @media (max-width:900px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
            padding-bottom: 3.5rem;

            & .spinner{
                margin-left: 0rem;
                width: 300px;
                display: flex;
            }
        }
        @media (max-width:580px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
            //padding-bottom: 3rem;
        }
    }

}